@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-clash);
  --font-signature: var(--font-amilly);
}
@utility font-signature {
  font-family: var(--font-signature);
}
body {
  font-family: var(--font-sans);
}
